/* # CSS for Customizer Custom Controls
---------------------------------------------------------------------------------------------------- */

/* ## Controls Sidebar
--------------------------------------------- */

#customize-theme-controls .control-section:last-of-type.open {
	border-bottom: none;
}

/* ## Textarea/TinyMCE
--------------------------------------------- */

.tinymce-control textarea {
	width: 100%;
	padding: 10px;
}

/* ## Image Radio Buttons
--------------------------------------------- */

.image_radio_button_control .radio-button-label > input {
	display: none;
}

.image_radio_button_control .radio-button-label > img {
	max-width: 60px !important;
	cursor: pointer;
	border: 3px solid #ddd;
}

.image_radio_button_control .radio-button-label > input:checked + img {
	border: 3px solid #2885bb;
}
