/* ## Main Content
--------------------------------------------- */

.site-inner {
	position: relative;
	margin-top: -5%;
	z-index: 1;

	@media only screen and (min-width: 900px) {
		margin-top: -5rem;
	}

	ul {
		@include default-ul;
	}

	ol {
		@include default-ol;
	}

	ul ul,
	ol ol {
		margin-bottom: 0;
	}
}

.singular .content,
.search .content,
.error404 .content,
.content .no-results {
	background-color: #fff;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 4rem;
	padding: 7%;

	@include media(large) {
		padding: 5rem 6rem;
	}
}

.singular.full-width-content .content,
.singular.full-width-padded .content {
	@include media(large) {
		padding: 8rem 6rem;
	}
}

// Remove te 'no-results' styles in these pages.
.search {
	.content .no-results {
		background-color: transparent;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
	}
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
picture,
object,
video {
	max-width: 100%;
}

img,
picture {
	margin: 0;
	height: auto;
}

figure {
	margin: 0;
}

/* ## Video Wrappers
--------------------------------------------- */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ## WordPress
--------------------------------------------- */

a.post-thumbnail,
a.post-thumbnail img {
	display: block;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	@include media(x-small) {
		float: left;
		text-align: left;
	}
}

.alignright {
	@include media(x-small) {
		float: right;
		text-align: right;
	}
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.full-width {
	width: 100%;
}

img.centered {
	display: block;
	margin: 0 auto;
}

.aligncenter {
	display: block;
	margin: 0 auto $base-spacing;
}

img.alignnone,
.alignnone {
	margin-bottom: $base-spacing / 2;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 0 $base-spacing 0;

	@include media(x-small) {
		margin: 0 $base-spacing $base-spacing 0;
	}
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 $base-spacing 0;

	@include media(x-small) {
		margin: 0 0 $base-spacing $base-spacing;
	}
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 $base-spacing;
}

.gallery {
	@include clearfix;
	margin: 0 0 $base-spacing * 2 0;
	padding: 0;

	.gallery-item {
		margin: $base-spacing 0;
		padding: 0;
		text-align: center;
		width: 100%;
		height: auto;
	}

	.gallery-icon {
		margin: 0;
		padding: 0;
	}

	.wp-caption-text {
		margin: 0;
		padding: 0;
		font-size: 0.8em;
	}
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} .gallery-item {
		@include media(medium) {
			float: left;
			width: col_width(9 / $i, 9, $max-width, $column-gutter);

			&:nth-child(#{$i}n + #{$i + 1}) {
				clear: both;
			}
		}
	}
}

/* ## Post Navigation
--------------------------------------------- */

.post-navigation {
	.nav-links {
		@include clearfix;
	}

	.nav-previous,
	.nav-next {
		margin: 0.5rem 0;
		font-size: 1.8rem;
	}

	.nav-previous {
		float: left;
		text-align: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}
