/* ## Forms
--------------------------------------------- */

fieldset,
div.wpcf7 {
	background-color: lighten($base-border-color, 10%);
	border: $base-border;
	margin: 0 0 $small-spacing;
	padding: $small-spacing;

	@include media(medium) {
		padding: $base-spacing;
	}
}

// Block iOS browser form styles.
input[type='text'],
input[type='password'],
input[type='name'],
input[type='url'],
input[type='email'],
input[type='search'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input,
label,
select {
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size / 1.2;
}

label {
	font-weight: 600;
	margin-bottom: $small-spacing / 2;

	&.required::after {
		content: '*';
	}

	abbr {
		display: none;
	}
}

#{$all-text-inputs},
select[multiple='multiple'],
select,
textarea {
	background-color: #fff;
	border: $base-border;
	box-sizing: border-box;
	font-family: $base-font-family;
	font-size: $base-font-size / 1.25;
	margin-bottom: $base-spacing / 2;
	padding: $base-spacing / 3;
	transition: border-color;
	width: 100%;
	height: 48px;
	line-height: $base-line-height;
	vertical-align: middle;

	&:hover,
	&:focus {
		border-color: darken($base-border-color, 15%);
	}

	&:focus {
		outline: none;
	}
}

// Placeholder text.
#{$all-text-inputs} {
	&::-webkit-input-placeholder {
		color: $medium-grey;
	}

	&::-moz-placeholder {
		color: $medium-grey;
	}

	&:-ms-input-placeholder {
		color: $medium-grey;
	}
}

textarea {
	resize: vertical;
	height: auto;
}

input[type='search'] {
	appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
	margin-right: $small-spacing / 2;
	position: relative;
	bottom: 2px; // Move buttons up 2 pixels.
}

input[type='file'] {
	padding-bottom: $small-spacing;
	width: 100%;
	line-height: 1;
	font-size: 1.6rem;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><rect x='0' fill='none' width='20' height='20'/><g><path d='M5 6l5 5 5-5 2 1-7 7-7-7z'/></g></svg>");
	background-position: right 8px top 55%;
	background-repeat: no-repeat;
	background-size: auto 30%;
	padding-right: 2.5rem;
	margin-bottom: $base-spacing;
	max-width: 100%;
	width: auto;

	// Internet Explorer 10/11.
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		background-image: none;
		padding-right: $base-spacing / 3;
	}
}

.required {
	color: #c3251d;
}

// Contact From 7 plugin.
div.wpcf7 {
	label {
		margin-bottom: 0;
	}

	#{$all-text-inputs},
	select {
		margin-top: $small-spacing / 2;
	}
}

span.wpcf7-not-valid-tip {
	color: #c3251d;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	border: 2px solid #c3251d;
	font-size: 1.8rem;
}

// Search Form.
.search-form {
	position: relative;

	label,
	input[type='search'] {
		margin: 0;
	}

	input[type='search'] {
		padding-right: 100px;
	}

	input[type='submit'] {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 0;
	}
}

.content .search-form {
	max-width: 400px;
}

.entry-content .search-form {
	margin-bottom: $small-spacing;
}
