.sidebar {
	.widget {
		background-color: #fff;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 4rem;
		padding: 4rem;
		font-size: 1.8rem;
		line-height: 1.5;

		*:last-child {
			margin-bottom: 0;
		}

		.widget-title {
			font-family: $base-font-family;
			text-transform: uppercase;
			font-size: 2rem;
		}
	}
}
