/* # Admin Styles
---------------------------------------------------------------------------------------------------- */
/* ## Video User Manuals
--------------------------------------------- */
.toplevel_page_video-user-manuals-plugin .wrap>h2:first-child img,
.video-tutorials_page_vum-ebook .wrap>h2:first-child img {
	width: auto;
	height: 32px;
}

/* ## WP Login Modal
--------------------------------------------- */
#wp-auth-check-wrap #wp-auth-check {
	background-color: #222;
}

/* ## WP Dashboard
--------------------------------------------- */
#tab-link-help-content,
#tab-panel-help-content {
	display: none;
}

#website_details_dashboard_widget .agency-logo {
	width: 195px;
	height: 45px;
	display: block;
	padding: 10px 0 5px;
}

#website_details_dashboard_widget .agency-title {
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 0 5px;
}

.metabox-holder .postbox-container .empty-container {
	border: none;
}

/* ## Layout Settings Meta Box
--------------------------------------------- */
#vagabond-layout-meta-box input {
	text-align: center;
}

#vagabond-layout-meta-box label.box {
	border: 3px solid transparent;
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	text-align: center;
	max-width: 85px;
	max-height: 76px;
}

#vagabond-layout-meta-box label.box img {
	max-width: 85px;
	pointer-events: none;
}

#vagabond-layout-meta-box label.box:hover,
#vagabond-layout-meta-box label.box:focus {
	border: 3px solid #ccc;
}

#vagabond-layout-meta-box label.box.selected {
	border: 3px solid #0085ba;
}

.ie8 #vagabond-layout-meta-box input,
.no-js #vagabond-layout-meta-box input {
	display: inline;
}

.ie8 #vagabond-layout-meta-box input.screen-reader-text,
.no-js #vagabond-layout-meta-box input.screen-reader-text {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	margin: 5px 0 0 -7px;
}

/* ## Widgets Admin Page
--------------------------------------------- */
@media only screen and (min-width: 481px) {
	.widget-liquid-right {
		position: -webkit-sticky;
		position: sticky;
		top: 42px;
	}
}

/* ## Media Uploader
--------------------------------------------- */
.media-frame select.attachment-filters {
	max-width: 100%;
}

/* ## TinyMCE Editor
--------------------------------------------- */
i.mce-i-icon {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}

.mce-floatpanel.mce-menu-has-icons .mce-menu-item span,
.mce-floatpanel.mce-menu-has-icons .mce-menu-item-expand span,
.mce-floatpanel.mce-menu-has-icons .mce-menu-item.mce-disabled span,
.mce-floatpanel.mce-menu-sub .mce-menu-item span,
.mce-floatpanel.mce-menu-sub .mce-menu-item-expand span,
.mce-floatpanel.mce-menu-sub .mce-menu-item.mce-disabled span {
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif !important;
	font-size: 16px !important;
	font-weight: normal !important;
	font-style: normal;
	-webkit-text-decoration: none solid black;
	text-decoration: none solid black;
	text-transform: none;
}

.mce-toolbar .mce-btn.mce-btn-has-text button {
	line-height: 20px;
}

.wp-editor-tabs .wp-switch-editor {
	border-radius: 4px 4px 0 0;
}

.mce-menu-item.mce-menu-item-preview.mce-active .mce-text,
.mce-menu-item.mce-menu-item-preview.mce-active .mce-ico,
.mce-menu-item.mce-selected .mce-text,
.mce-menu-item.mce-selected .mce-ico {
	color: #fff !important;
}

.mce-menu-item.mce-menu-item-preview.mce-active,
.mce-menu-item.mce-menu-item-preview.mce-active {
	background: #0073aa !important;
	color: #fff !important;
}

body .mce-btn .mce-txt {
	color: inherit;
}

body .mce-menu-item.mce-active.mce-menu-item-normal {
	background: #0073aa;
}

body .mce-menu-item:hover .mce-text,
body .mce-menu-item:focus .mce-text,
body .mce-menu-item:hover .mce-ico,
body .mce-menu-item:focus .mce-ico {
	color: #fff;
}

body .mce-btn.mce-active button,
body .mce-btn.mce-active:hover button,
body .mce-btn.mce-active i,
body .mce-btn.mce-active:hover i {
	color: #595959;
}

/* # Envira Gallery Plugin
---------------------------------------------------------------------------------------------------- */
/* ## Addons Menu Label
--------------------------------------------- */
body #menu-posts-envira .wp-submenu a span {
	color: #b4b9be !important;
}

body #menu-posts-envira .wp-submenu a:hover span {
	color: #00b9eb !important;
}

body #menu-posts-envira .wp-submenu li.current a span {
	color: #fff !important;
}

/* ## Headings
--------------------------------------------- */
body.post-type-envira #envira-header {
	display: none;
}

body.post-type-envira #screen-meta-links .screen-meta-toggle,
body.post-type-envira_album #screen-meta-links .screen-meta-toggle {
	z-index: 10;
}

body.post-type-envira div.wrap>h1,
body.post-type-envira div.wrap>h2,
body.post-type-envira_album div.wrap>h1,
body.post-type-envira_album div.wrap>h2 {
	margin: inherit !important;
	padding: inherit !important;
	background: inherit !important;
	font-weight: 400 !important;
	font-size: 23px !important;
}

/* ## Action Buttons
--------------------------------------------- */
body.wp-admin.post-type-envira div.wrap a.page-title-action,
body.wp-admin.post-type-envira_album div.wrap a.page-title-action {
	position: relative !important;
	top: -23px !important;
	/*left: 120px !important;*/
}

/*body.wp-admin.post-type-envira_album div.wrap a.page-title-action { left: 108px !important; } body.wp-admin.post-php.post-type-envira div.wrap a.page-title-action { left: 150px !important; } body.wp-admin.post-php.post-type-envira_album div.wrap a.page-title-action { left: 143px !important; }*/
body.post-type-envira div.wrap a.page-title-action:hover,
body.post-type-envira_album div.wrap a.page-title-action:hover,
body.post-type-envira div.wrap>h1 a.page-title-action:hover,
body.post-type-envira div.wrap>h2 a.page-title-action:hover,
body.post-type-envira_album div.wrap>h1 a.page-title-action:hover,
body.post-type-envira_album div.wrap>h2 a.page-title-action:hover {
	background: #008ec2 !important;
	border-color: #008ec2 !important;
}

/* ## Buttons
--------------------------------------------- */
body.post-type-envira .button,
body.post-type-envira_album .button {
	font-weight: 400 !important;
}

.envira-notice.success .button.button-primary {
	background-color: #0085ba !important;
	border-color: #0085ba !important;
}

body.post-type-envira .button.button-primary,
body.post-type-envira_album .button.button-primary {
	background: #0085ba !important;
	border-color: #0073aa #006799 #006799 !important;
	-webkit-box-shadow: 0 1px 0 #006799 !important;
	box-shadow: 0 1px 0 #006799 !important;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

body.post-type-envira .button.button-primary:hover,
body.post-type-envira_album .button.button-primary:hover {
	background: #008ec2 !important;
	border-color: #006799 !important;
}

#envira-addons .button,
#envira-addons .button-primary {
	text-shadow: none !important;
	background-color: #f7f7f7 !important;
	border: 1px solid #ccc !important;
	border-color: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#envira-addons .envira-addons-area .envira-addon .envira-addon-action .button-primary:hover {
	color: #23282d !important;
	background-color: #fafafa !important;
	border-color: #999 !important;
}

/* ## Checkboxes
--------------------------------------------- */
body.post-type-envira input[type='checkbox'],
body.post-type-envira_album input[type='checkbox'] {
	border: 1px solid #b4b9be !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

body.post-type-envira input[type='checkbox']:checked,
body.post-type-envira_album input[type='checkbox']:checked {
	border: 1px solid #b4b9be !important;
	background: #fff !important;
	color: #555 !important;
}

body.wp-admin.post-type-envira input[type='checkbox']:checked:before,
body.wp-admin.post-type-envira_album input[type='checkbox']:checked:before {
	color: #1e8cbe !important;
}

form#post.envira-gallery #poststuff input[type='checkbox']:checked,
form#post.envira-gallery #poststuff input[type='checkbox']:checked {
	background: #008ec2 !important;
	border-color: #008ec2 !important;
}

/* # Soliloquy Slider Plugin
---------------------------------------------------------------------------------------------------- */
/* ## Addons Menu Label
--------------------------------------------- */
body #menu-posts-soliloquy ul li:last-child a {
	color: #b4b9be !important;
}

body #menu-posts-soliloquy ul li:last-child a:hover {
	color: #00b9eb !important;
}

body #menu-posts-soliloquy ul li.current:last-child a {
	color: #fff !important;
}

body .soliloquy-select .chosen-container .chosen-results li.highlighted {
	background: #0073aa !important;
}

/* ## Headings
--------------------------------------------- */
body.post-type-soliloquy #wpbody-content h1.wp-heading-inline {
	display: inline-block;
	margin: inherit !important;
	padding: inherit !important;
	background: inherit !important;
	font-weight: 400 !important;
	font-size: 23px !important;
	line-height: 88px !important;
}

body.edit-php.post-type-soliloquy #wpbody-content h1.wp-heading-inline {
	height: 88px !important;
}

body.post-php.post-type-soliloquy #wpbody-content h1.wp-heading-inline {
	height: 75px !important;
}

body.post-type-soliloquy ul.subsubsub {
	margin: -10px 0 20px 0 !important;
}

/* ## Buttons
--------------------------------------------- */
body.post-type-soliloquy .button {
	font-weight: 400 !important;
}

body.post-type-soliloquy .button.button-soliloquy {
	background: #0085ba !important;
	border-color: #0073aa #006799 #006799 !important;
	-webkit-box-shadow: 0 1px 0 #006799 !important;
	box-shadow: 0 1px 0 #006799 !important;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

body.post-type-soliloquy .button.button-soliloquy:hover {
	background: #008ec2 !important;
	border-color: #006799 !important;
}

/* ## Checkboxes
--------------------------------------------- */
body.post-type-soliloquy input[type='checkbox'] {
	border: 1px solid #b4b9be !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

body.post-type-soliloquy input[type='checkbox']:checked {
	border: 1px solid #b4b9be !important;
	background: #fff !important;
	color: #555 !important;
}

body #soliloquy-slider-settings #soliloquy-settings-content input[type='checkbox']:checked:before {
	color: #1e8cbe !important;
}
