/* # Admin Styles
---------------------------------------------------------------------------------------------------- */

/* ## Video User Manuals
--------------------------------------------- */

.toplevel_page_video-user-manuals-plugin,
.video-tutorials_page_vum-ebook {
	.wrap > h2:first-child img {
		width: auto;
		height: 32px;
	}
}

/* ## WP Login Modal
--------------------------------------------- */

#wp-auth-check-wrap #wp-auth-check {
	background-color: #222;
}

/* ## WP Dashboard
--------------------------------------------- */

#tab-link-help-content,
#tab-panel-help-content {
	display: none;
}

#website_details_dashboard_widget .agency-logo {
	width: 195px;
	height: 45px;
	display: block;
	padding: 10px 0 5px;
}

#website_details_dashboard_widget .agency-title {
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 0 5px;
}

.metabox-holder .postbox-container .empty-container {
	border: none;
}

/* ## Layout Settings Meta Box
--------------------------------------------- */

#vagabond-layout-meta-box input {
	text-align: center;
}

#vagabond-layout-meta-box label.box {
	border: 3px solid transparent;
	display: block;
	float: left;
	margin: 10px 10px 10px 0;
	text-align: center;
	max-width: 85px;
	max-height: 76px;
}

#vagabond-layout-meta-box label.box img {
	max-width: 85px;
	pointer-events: none;
}

#vagabond-layout-meta-box label.box:hover,
#vagabond-layout-meta-box label.box:focus {
	border: 3px solid #ccc;
}

#vagabond-layout-meta-box label.box.selected {
	border: 3px solid #0085ba;
}

.ie8 #vagabond-layout-meta-box input,
.no-js #vagabond-layout-meta-box input {
	display: inline;
}

.ie8 #vagabond-layout-meta-box input.screen-reader-text,
.no-js #vagabond-layout-meta-box input.screen-reader-text {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	margin: 5px 0 0 -7px;
}

/* ## Widgets Admin Page
--------------------------------------------- */

@media only screen and (min-width: 481px) {
	.widget-liquid-right {
		position: -webkit-sticky;
		position: sticky;
		top: 42px;
	}
}

/* ## Media Uploader
--------------------------------------------- */

.media-frame select.attachment-filters {
	max-width: 100%;
}

.widget-content .custom-media-button {
	margin-top: 5px;
}
